.sidedock-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stage-wrapper {
  display: flex;
}

.selector-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-top: var(--space);
  width: calc(480px + 2px);
}

.selector-wrapper.small {
  width: calc(320px + 2px);
}
